* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------------------------ */
/* ------------------- Header --------------------- */
header {
    background-color: black;
    color: #fcfcfc;
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.logo {
    float: left;
}

.logo span {
    color: #ec4141;
}

nav {
    margin: 0 auto;
    padding: 0 40px;
}

ul {
    list-style-type: none;

}

li {
    display: inline;
    margin: 0 10px;
    cursor: pointer;
}

li:hover {
    border-bottom: 2px solid #e7e5e5;
    transition: all 0.2s ease;
}

.search {
    border-radius: 25px;
    width: 12rem;
    height: 45px;
    padding: 20px 15px 20px 44px;
    border: none;
}

.sign-up {
    margin-left: 15px;
    border-left: 1px solid #fcfcfc;
    padding-left: 15px;
    font-size: 12px;
    cursor: pointer;
}

.sign-up:hover {
    color: rgb(177, 174, 174);
    transition: all .2s ease-in-out;

}

/* ------------------------------------------------- */
/* -------------------- Hero section ---------------- */

.hero {
    width: 100%;
    height: 40rem;
    color: white;
    background-color: black;
    background-size: 100%;
    background-image: url(cars/g-wagon2.jpg);
}

.about {
    width: 35%;
    text-align: center;
    margin: auto;
    padding-top: 12rem;
}

.about h1 {
    font-size: 40px;
    color: white;
}

.search1 {
    border-radius: 25px;
    width: 90%;
    height: 45px;
    padding: 20px 15px 20px 44px;
    margin: 23px 0px;
    border: 1px solid white;
}

.option {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.option h4 {
    font-size: 20px;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.option h4:hover {
    border-bottom: 2px solid black;
}

@media screen and (max-width: 768px) {
    header {
        height: fit-content;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

    li {
        display: block;
        text-align: center;
        margin-bottom: 5px;
        font-size: 15px;
    }

    li:hover {
        text-decoration: underline;
        border-bottom: none;
    }

    .about {
        width: 100%;
        padding-top: 17rem;
    }

    .sign-up {
        border: none;
        padding: 0;
        margin: 7px;
        font-size: 12px;
        cursor: pointer;
    }

    .logo h1 {
        font-size: 40px;
    }

}

/* ============== */
/* Section two  */

.car-filter {
    background-color: #f5f5f5;

}

.position {
    display: flex;
    flex-direction: row;
    margin: 0 180px;
    max-width: 80%;
    padding: 2rem 0px;
    border-bottom: 2px solid #e7e5e5;
    margin-bottom: 50px;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* Styles for the left aside of section 2 */

.aside-left {
    width: 60%;
}

.aside-left div {
    background-color: #00adee80;
    padding: 5px 10px;
    margin-bottom: 5px;
    color: #343434;
    width: fit-content;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}

.aside-left h1 {
    font-size: 30px;
    margin: 4px 0px;
}

.aside-left p {
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 5px;
    color: #707070;
}

.aside-left img {
    width: 95%;
    text-align: center;
    vertical-align: center;
}

/* styles for right aside of section 2 */

.aside-right {
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    width: 60%;
}

#price {
    font-size: 59px;
    display: flex;
    align-items: center;
}

#price span {
    font-size: 24px;
    font-weight: 500;
}


.aside-right p:first-of-type {
    padding: 5px 0 10px;
    font-size: 16px;
}

.aside-right .percent {
    padding-bottom: 20px;
    color: #707070;
}

.filter {
    width: 75%;
    display: flex;
    flex-direction: row;
}

.filter select,
.filter input {
    width: 10rem;
    height: 2.8rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 5px;
    display: flex;

}

.filter1 {
    padding-top: 25px;
    border-top: 1px outset #e7e5e5;
    justify-content: space-between;

}

.filter2 {
    padding-top: 25px;
    justify-content: space-between;
    padding-bottom: 25px;
}

/* Slider styling section */

/* The switch - the box around the slider */

.slidebar {
    width: 75%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border: 1px solid none;
    border-radius: 34px;
    padding-bottom: 0;
}

.slider.round:before {
    border-radius: 50%;
}

/* See your matches button */

.btn {
    width: 75%;
    height: 35px;
    color: white;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-bottom: 35px;
}

.btn:hover,
.btn1:hover,
.btn2:hover {
    color: black;
    background-color: #a3a0a0;
    transition: all .2s ease-in-out;
}

/* FEATURES SECTION */

.car-filter h1 {
    text-align: center;
}

.features1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 180px;
    max-width: 80%;
    padding: 2rem 0px;
    margin-bottom: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 50px 50px 15px 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.feature h2 {
    font-size: 27px;
    padding: 10px;
}

.feature p {
    color: #707070;
    padding: 20px;
    font-size: 15px;
}

.feature-left, .feature-right {
    text-align: center;
    align-items: center;
}

.feature-left {
    padding-top: 110px;
}

.feature-right img {
    width: 30%;
}

.btn1,
.btn2 {
    height: 35px;
    color: white;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px 20px;

}

#trade-image {
    width: 50%;
}


