* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}


/* ------------------------------------------------ */
/* ------------------- Header --------------------- */
header {
    background-color: black;
    color: #fcfcfc;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.content {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.logo {
    float: left;
}

span {
    color: #ec4141;
}

nav {
    margin: 0 auto;
    padding: 0 40px;
}

ul {
    list-style-type: none;
    
}

li {
    display: inline;
    padding: 0 10px;
    cursor: pointer;
}

li:hover {
    border-bottom: 3px solid red;
    height: 2px;
    transition: all 0.2s ease;
    width: 100%;
}
.search {
    border-radius: 20px;
    width: 12rem;
    height: 37px;
    padding-left: 10px;
    border: none;
}

.sign-up {
    margin-left: 15px;
    border-left: 1px solid #fcfcfc;
    padding-left: 15px;
    font-size: 12px;
    cursor: pointer;
}

.sign-up:hover {
    color: rgb(177, 174, 174);
}

/* ------------------------------------------------- */
/* -------------------- Hero section ---------------- */

.hero {
    width: 100%;
    height: 37rem;
    color: white;
    background-color: black;
    background-size: 100%;
    background-image: url(cars/Space\ Roadstar.jpg);
    clip-path: rect(0, 100px, 100%, 100%);
} 
.about {
    width: 35%;
    /* margin: 12rem auto; */
    text-align: center;
    margin: auto;
    padding-top: 12rem;
}

.about h1 {
    font-size: 35px;
    color: white;
}

.search1 {
    width: 90%;
    border-radius: 20px;
    height: 37px;
    padding-left: 10px;
    margin: 23px 0px;
    border: 1px solid white;
}

.option {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.option h4 {
    font-size: 20px;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.option h4:hover {
    border-bottom: 2px solid #ec4141;
}